[Unit]
Description=Orboard Frontend Web Service
After=network.target

[Service]
Type=simple
User=linaro

WorkingDirectory=/home/linaro/ORBOARD/Frontend/dist
ExecStart=/usr/bin/python3 -m http.server 3000 --bind 127.0.0.1

Restart=no-failure
RestartSec=3

[Install]
WantedBy=multi-user.target

